.container{
  min-width: 100px;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  text-align: center;
}

.active{
  background-color: var(--text);
  color: var(--bg);
}

@media (max-width : 400px) {
  .container{
    padding: 5px;
    margin: 5px;
    font-size : 12px;
  }
}