.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  color : gray;
}

.links{
  display: flex;
  flex-direction: row;
}

.link{
  padding : 25px;
}

.linkActive{
  border-bottom: 3px solid gray;
}

@media (max-width : 992px) {
  .links{
    display: flex;
    flex-direction: column;
  }
}