.container{
  display : grid;
  grid-template-columns: 350px 350px 350px 350px;
  gap: 25px;
}

@media (max-width : 768px) {
  .container{
    display : grid;
    grid-template-columns: 350px 350px;
    gap: 25px;
  }
}